ion-content {
    --background: #ffffff;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}

//.textarea-input {
//    resize: none;
//    overflow-y: auto;
//    height: 2pc;
//    min-height: 36px;
//    max-height: 150px;
//    border-radius: 0.9rem;
//    padding: 10px;
//    font-size: 1rem;
//    line-height: 1.5rem;
//    background-color: #f0f0f0;
//}

.message-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
}

.message-wrapper.assistant {
    align-items: flex-end;
}

.message-title {
    font-weight: bold;
}

.message-content {
    background-color: #e1e1e1;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
    max-width: 70%;
    word-wrap: break-word;
}

.message-wrapper.assistant .message-content {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.error-message {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
ion-footer {
    ion-toolbar {
        --background: #ffffff;
        --border-top-color: #e5e5e5;
        position: sticky;
        bottom: 0;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

textarea {
    padding: 10px 15px;
    width: calc(100% - 8px);
    font-size: 1rem;
    border: 1px solid #fc771f;
    border-radius: 73.25rem;
    background: white;
    max-height: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

ion-buttons ion-button {
    --background: #007bff;
    --color: #ffffff;
    --border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-buttons ion-button ion-icon {
    font-size: 24px;
    margin: 0;
}
