<style>
    /*.textarea-input {*/
    /*    font-size: 1rem;*/
    /*    line-height: 1.5;*/
    /*    border: 1px solid #fc771f;*/
    /*    border-radius: 73.25rem;*/
    /*    resize: inherit;*/
    /*}*/

    /*.textarea-wrapper.sc-ion-textarea-md textarea.sc-ion-textarea-md {*/
    /*    height: 0px !important;*/
    /*}*/
    /*.textarea-label-placement-start.sc-ion-textarea-md-h .textarea-wrapper.sc-ion-textarea-md {*/
    /*    height: 0px !important;*/
    /*}*/
    /*#ion-textarea-0{*/
    /*    height: 0px !important;*/
    /*}*/
   /*textarea {*/
   /*     height: 0px !important;*/
   /* }*/

    ion-header,
    ion-content,
    ion-footer {
        --background: #ffffff;
    }

    .loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* Full height to center the spinner */
    }

    .message-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 5px;
    }

    .assistant {
        align-items: flex-start;
    }

    .message-title {
        font-weight: bold;
        align-self: flex-end;
    }
    .message-title2{
        font-weight: bold;

    }

    .message-content {
        background-color: #e1e1e1;
        color: #333;
        padding: 10px;
        border-radius: 10px;
        margin-top: 5px;
        align-self: flex-start;
        max-width: 70%; /* Limit the width of the message content */
        word-wrap: break-word; /* Wrap long content onto the next line */
    }

    .message-wrapper.assistant .message-content {
        background-color: #007bff;
        color: #fff;
        align-self: flex-end;
    }

</style>
<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button [text]="'core.back' | translate "></ion-back-button>
        </ion-buttons>
        <ion-title>
            <h1>{{ 'Chat Bot'}}</h1>
        </ion-title>
        <ion-buttons slot="end">
            <!-- Add an empty context menu so split view pages can add items, otherwise the menu disappears in some cases. -->
            <core-context-menu></core-context-menu>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content #chatContainer >
    <ion-list class="addon-messages-discussion-container">
        <ng-container *ngFor="let message of messages">
            <div class="message-wrapper" [class.assistant]="message.role === 'assistant'">
                <div class="message-title">{{ message.role === 'assistant' ? 'Assistant' : '' }}</div>
                <div class="message-title2">{{ message.role != 'assistant' ? 'User' : '' }}</div>
                <div class="message-content">{{ message.role === 'assistant' ? message.content : message.text }}</div>
            </div>
        </ng-container>
        <!-- Show spinner while loading -->
        <div *ngIf="loading" class="loading-spinner">
            <ion-spinner name="crescent"></ion-spinner>
        </div>

        <!-- Show error message if exists -->
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <textarea
            [(ngModel)]="newMessage"
            id="messageInput"
            placeholder="Type a message..."
        >
        </textarea>

        <ion-buttons slot="end">
            <ion-button (click)="sendMessage()">
                <ion-icon name="send-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>


